/* Common CSS starts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  
}
html {
    font-size: 62.5%;
  }

  :root{
    --gradient:linear-gradient(to right, #ff42a6 , #7F00FF);
    --primary-color: #ff42a6;
    --secondary-color: #4EC5F7;
    --section-padding: 40px 0px;
  }

  /* Common CSS Ends */

/* Header CSS starts */
.header {
    width: 100%;
   
}
.nav-container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 10rem;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}
.title-initial-2 {
    color: #000;
} 
.navbar a {
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-btn {
    padding: 10px 15px;
    
}
.my-youtube {
    margin: 0px 5px;
}
/* Header CSS Ends */
main {
    width: 100%;
}
/* Banner Section - GOAT Start */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-image {
    width: 100%;
}
.banner-image-con {
    width: 60rem;
    margin-right: 100px;
}
.banner-title-1 {
    font-size: 3rem;
    font-weight: 400;
}
.banner-title-2 {
    font-size: 12rem;
    font-weight: 800;
    background: -webkit-linear-gradient(#ef08c5, #7507c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content ul li {
    list-style: none;
    font-size: 1.5rem;
    line-height: 3rem;
    padding-left: 25px;
}
.banner-content {
    background-image: url(images/Group14.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10rem;
}
.btn-box {
    margin: 3rem 0;
}
.signup-btn {
    padding: 10px 25px;
    border: 1px solid #ff42a6;
    background-color: #ff42a6;
    color: #fff;
    border-radius: 25px;
    margin-right: 15px;

}
.go-btn {
    padding: 10px 25px;
    border: 1px solid #4EC5F7;
    background-color: #4EC5F7;
    color: #fff;
    border-radius: 25px;
    margin-right: 15px;

}




/* Banner Section - GOAT Ends */

/* We are Gamer Section Starts */
/* We are gamer starts */
.we-are-gamer {
    display: flex;
   justify-content: space-evenly;
   align-items: center; 
}
.gamer-image {
    width: 100%;
}
.gamer-img-con {
    max-width: 600px;
}
.gamer-content {
    text-align: right;
    max-width: 500px;
}
.gamer-title {
    font-size: 4rem;
    font-weight: 800;
    background: -webkit-linear-gradient(#ef08c5, #7507c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}
.game-des {
    font-size: 1.5rem;
    margin: 10px 0px;
}
.game-qot {
    font-size: 2rem;
}


/* We are Gamer Section Ends */

/* Play instantly CSS */
.play-instantly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0px;
}
.play-content {
    max-width: 500px;
}
.play-img-cont {
    max-width: 610px;
}
.big-img {
    max-width: 450px;
    height: auto;
}
.small-img {
    width: 150px;
    position: relative;
    bottom: -45px;
    right: -75px;
}

.play-title {
    font-size: 4rem;
}
.color-text {
    color: #ef08c5;
}
.play-des {
    font-size: 1.5rem;
    padding-top: 1.5rem;
}
/* Play instantly CSS Ends*/

/*  Funny Video Section Starts */
.funny-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--section-padding);
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.box-img {
    width: 100%;
}

.section-header {
    font-size: 4rem;
}
.color-part {
    background: -webkit-linear-gradient(#ef08c5, #7507c4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.funny-des {
    font-size: 1.5rem;
    padding: 25px 0px;
}
.box-1 {
    width: 25rem;
}
.box-2 {
    position: relative;
}
.zoom-video {
 text-align: center;
 font-size: 2rem;
 position: absolute;
 top: 40%;
 left: 30%;
 transform: translate(-26%, -38%);
 color: #fff;
 background-color: #0b022377;
 padding: 80px 80px;
 display: none;
  
}
.box-2:hover .zoom-video {
    display: block;
    cursor: pointer;
  
}

.zoom-video i {
    font-size: 4rem;
    margin-bottom: 1rem;   
   }
   .video-des {
    font-size: 1.2rem;
    text-align: left;
    padding: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
   }

/*  Funny Video Section Ends */

/* Career Section start */
.career {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    height: 75vh;
}
.cc-title {
    font-size: 3rem;
}
.career-img-container {
    width: 100%;
}
.career-img {
    width: 100%;
}
.career-content {
    width: 100rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 85%;
margin-left: 200px;
padding: 40px 0px;
margin-right: 100px;
font-size: 1.3rem;
font-weight: 300;
}
.career-option-list{
    display: flex;
    justify-content: space-between;
}

.career-option-list ul li {
    list-style-type: none;
}
.right-list li {
    text-align: right;
}

.cc-des {
    line-height: 2rem;
}

.career-option-list ul li {
    line-height: 2rem;
    font-weight: 500;
}
.position-btn {
    width: 15rem;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid #fff;
    color: var(--primary-color);
}
/* Career Section CSS Ends */

/* CSS Game Type Section (Section 6) Starts */
.game-types {
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    margin: 25px auto;
    flex-wrap: wrap;
    
}
.games {
    display: flex;  
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin:0 5rem ;
    border: 2px solid rgb(255, 255, 255);
}
.games:hover{
    border: 2px solid rgb(234, 22, 181);
    background-color: aliceblue;
    box-shadow: .2rem .2rem .2rem #848484;
    transform: scale(2px);
    border-radius: 35px;
}
.game-img {
    width: 45px;
    height: 45px;
}
.game-title {
    font-size: 1.5rem;
    margin: 0 1rem;
}


/* CSS Game Type Section (Section 6) End */



/* Footer Section CSS Starts */
.footer-section {
    background-color: #0B0223;
    width: 100%;
    min-height: 70vh;
    padding: var(--section-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.site-id {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
.site-logo {
    width: 86px;
    height: 40px;
    margin-right: 15px;
}
.site-title {
    color: #fff;
    font-size: 4.5rem;
}
.title-initial {
    color: var(--primary-color);
}

/* page links */
.page-links {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* justify-content: space-around;
    align-items: center;
    margin: 0px auto; */
}
.page-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.gamer-social-links {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
}
.gamer-social-links a {
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    text-align: center; 
}

.policy {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
}
.policy a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 1.2rem;
    text-align: center; 
}

.copy-right span {
    color: #8f8f8f;
}


/* Footer Section CSS Ends */

/* Responsive Coding */

/* For Mobile Device */
@media only screen and (max-width: 600px) {
       /* Header Area  */
       .header {
        height: 12rem;
    }
    .nav-container {
        flex-direction: column;
        padding: 10px 0px;
        justify-content:space-between;
    }

    .site-id {
        justify-content: center;
        margin-top: 10px;
    }
    .navbar{
        justify-content: center;
        margin-bottom: 10px;
    }
    /*  Funny games */
    .box-container{
        flex-direction: column;
    }

     /*  Funny games */
     .box-container{
        flex-direction: column;
    }
   
    /* GOAT */
    .banner {
        flex-direction: column;
    }
    .banner-content {
        padding: 1rem 8rem;
    }
    .banner-title-2{
        font-size: 8rem;
    }

    .section-header {
        font-size: 3rem;
        margin: 10px;
        text-align: center;
    }
/* We are gamer starts */
.we-are-gamer {
    display: flex;
    flex-direction: column-reverse;
  
}
.gamer-content {
    padding: 10px;
}

/* We are gamer ends */


   /* Career */
   .career {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.career-content {
    margin-left: 100px;
    width: 30rem;
    height: 90vh;
}
.banner-image-con {
    margin-right: 0px;
    width: 35rem;
}
   
   /* Game type */
   .game-types{
    height: 100vh;
    text-align: left;
 }
   /*  play Instant css for tablet */
.play-instantly {
    flex-direction: column;
}
.play-content{
    margin-bottom: 25px;
    padding: 35px;
}
.big-img {
    max-width: 270px;
}
.small-img {
    max-width: 100px;
}
   
    /* Footer Area */
    .page-links{
        grid-template-columns: repeat(3,1fr);
        width: 70%;
    }
    .page-links a{
        margin: 1.5rem 0px; 
    }
    .gamer-social-links{
        grid-template-columns: repeat(3,1fr);
    }
    .gamer-social-links a {
        margin:1rem 0;
    }
    .policy {
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin-bottom: 2rem;
    }
    .policy a {
        margin:1rem ;
        
    }

        /* Footer Area Ends */


  }

  /*  Resposive codes for Tablets */

  @media only screen and (min-width: 600px) and (max-width:992px) {
    
    /* Header Area  */
    .header {
        height: 12rem;
    }
    .nav-container {
        flex-direction: column;
        padding: 10px 0px;
        justify-content: center;
    }

    .site-id {
        justify-content: center;
        margin-top: 10px;
    }
    .navbar{
        justify-content: center;
        margin-bottom: 10px;
    }

    .banner {
        flex-direction: column;
    }
    .banner-image-con {
        margin-right: 0px;
    }
    /*  Funny games */
    .box-container{
        flex-direction: column;
    }
    
    /* Footer Area */
     .page-links{
         grid-template-columns: repeat(3,1fr);
     }
     .page-links a{
         margin: 1.5rem 0px; 
     }
     .gamer-social-links{
         grid-template-columns: repeat(3,1fr);
     }
     .gamer-social-links a {
         margin:1rem 0;
     }
     .policy {
         grid-template-columns: repeat(2,1fr);
         width: 45%;
         margin-bottom: 2rem;
     }
     .policy a {
         margin:1rem ;
         
     }
    /* game type  */
     .game-types{
        height: 75vh;
     }

     /* Career Option */

     .career {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .career-content {
        margin-left: 80px;
        width: 50rem;
        height: 70vh;
    }
/*  we are gamer */
.we-are-gamer {
    display: flex;
    flex-direction: column-reverse;
}
.gamer-content {
    padding: 10px;
}

/*  play Instant css for tablet */
.play-instantly {
    flex-direction: column;
}
.play-content{
    margin-bottom: 25px;
}

    }